{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="login-wrap">
  <div class="login-form-wrap">
    <form action="" method="POST">{% csrf_token %}
      {% if form.errors  %}
        <div id="myModal" class="modal">
          <div class="modal-content">
               <p> {{ form.non_field_errors }} </p>
          </div>
          <span class="close-button">&times;</span>
        </div>
      {% endif %}
    {{ form.username }}
    <br>
    {{ form.password }}
    <br>
    <button type="submit" class="login-button">로그인</button>
  </form>
  <div class="login-id-or-wrap">
    <a href="{% url 'member:signup' %}" class="login-email-search">회원가입</a>
    <a href="{% url 'member:input_email' %}" class="login-password-search">비밀번호 찾기</a>
  </div>
  <div class="facebook-or-naver-wrap">
    <a href="https://www.facebook.com/v2.10/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri={{ site_url }}{% url 'member:facebook_login' %}">
    <div class="facebook-login">
        <img src="{% static 'images/facebook-logo.png' %}" alt="">
        <p>페이스북 로그인</p>
    </div>
    </a>
    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id={{ naver_app_id }}&redirect_uri={{ site_url }}{% url 'member:naver_login' %}&state={{ state }}">
    <div class="naver-login">
        <img src="{% static 'images/naver-logo.png' %}" alt="">
        <p>네이버 로그인</p>
    </div>
    </a>
  </div>
 </div>
</div>
{% endblock %}
