{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<section class="features1 cid-qvy4Fy937o" id="features1-20" data-rv-view="83">




    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                  <a href="{% url 'member:my_post' %}">
                    <img src="{% static 'svg/mbri-pages.svg' %}" alt="" class="mbr-iconfont" width="150px">
                    </a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        내가 쓴글
                    </h4>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                  <a href="{% url 'member:nickname_change' %}">
                    <img src="{% static 'svg/mbri-sites.svg' %}" alt="" width="150px">
                    </a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        회원 정보 수정
                    </h4>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                  <a href="{% url 'message:my_receive_message' %}">
                    <img src="{% static 'svg/mbri-letter.svg' %}" alt="" width="150px">
                    </a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        쪽지
                    </h4>

                </div>
            </div>



        </div>

    </div>

</section>
{% endblock %}
