{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<section class="features1 cid-qvy4Fy937o" id="features1-20" data-rv-view="83">
    {% if form.errors %}
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            {% for field in form %}
            {% for error in field.errors %}
            <p> {{ error }} </p>
            {% endfor %}
            {% endfor %}
        </div>
        <span class="close-button">&times;</span>

    </div>
    {% endif %}
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-6">
                <div class="mat-div">
                    <form action="" method="post">{% csrf_token %}

                        <label for="first-name" class='mat-label'>Nickname</label>
                        {{ form.nickname }}
                </div>
                <button type="submit" class="register-btn">닉네임 변경하기</button>
                </form>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-6">
                <a href="{% url 'member:input_email' %}" class="password-change-a">
                    <button class="password-change-btn">비밀번호 변경하기</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}