@media screen and (max-width: 993px) { .login-wrap .login-form-wrap { max-width: 42vh; }
  .login-wrap .login-form-wrap .facebook-or-naver-wrap { text-align: center; margin-top: 20px; }
  .login-wrap .login-form-wrap .facebook-or-naver-wrap a { display: block; }
  .login-wrap .login-form-wrap .facebook-or-naver-wrap a .facebook-login { height: 45px; max-width: 300px; min-width: 250px; }
  .login-wrap .login-form-wrap .facebook-or-naver-wrap a .facebook-login p { padding-left: 43px; }
  .login-wrap .login-form-wrap .facebook-or-naver-wrap a .naver-login { margin-top: 10px; margin-bottom: 10px; margin-left: 0px; height: 45px; max-width: 300px; min-width: 250px; }
  .login-wrap .login-form-wrap .facebook-or-naver-wrap a p { padding-left: 43px; } }
