.cid-qzvQdijbXZ .container .search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cid-qzvQdijbXZ .container .search-bar form {
  position: relative;
  max-width: 60vh;
  min-width: 30vh;
  margin: 0 auto;
}

.cid-qzvQdijbXZ .container .search-bar form input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #05101c;
  border-radius: 5px;
  outline: none;
  background: #FFFFFF;
  color: #9E9C9C;
}

.cid-qzvQdijbXZ .container .search-bar form button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #134074;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.cid-qzvQdijbXZ .container .search-bar form button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #FFFFFF;
}

.cid-qzvQdijbXZ .container .category-bar {
  width: 100%;
  height: 46px;
  margin: 0 auto;
  border-bottom: 2px solid #ececec;
}

.cid-qzvQdijbXZ .container .category-bar a.category-btn {
  width: 94px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  display: inline-block;
  color: #c2c2c2;
  font-size: 16px;
}

.cid-qzvQdijbXZ .container .category-bar a:hover {
  color: #134074;
  border-bottom: 2px solid #134074;
}

.cid-qzvQdijbXZ .container .soft-change {
  width: 100%;
  height: 762px;
}

.cid-qzvQdijbXZ .container .post-register {
  bottom: 100px;
  right: 24px;
  position: fixed;
  background-color: #134074;
  max-width: 15vh;
  min-width: 12vh;
  height: 45px;
  z-index: 100000;
  border-radius: 200px;
  color: white;
  line-height: 45px;
  text-align: center;
}

@media (max-width: 767px) {
  .cid-qzvQdijbXZ .container .category-bar {
    display: none;
  }
}
